.main-container{
    width: 100%;
    background-color: black;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    color:white;
}

.main-container-2{
    width: 100%;
    background-color: #ededed;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    color:black;
}

.main-container-2:first-child{
    width: 100%;
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    color:white;
}

.sub-container{
    width: 75%;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
}

.main-container-2 .header{
    width: 50%;
    padding: 0 25%;
    margin-bottom: 250px;
}

.main-container-2 .header h1{
    font-size: 70px;
}

.main-container-2 .header .text{
    width: 35%;
    color: gray;
}

.main-card{
    width: 40%;
    margin-top: -350px;
    z-index: 3;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 5px 4px 21px 5px rgba(0,0,0,0.08);
    overflow: hidden;
    border: transparent;
}

.main-card img {
    width: 100%;
    overflow: hidden;
}

.skill-card{
    width: 30%;
    height: 100%;
}

.skill-card .row{
    height: 100%;
    width: 70%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-card .row ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    width: 95%;
}

.main-card .row li{
    list-style: none;
    flex: 0 0 25%;
    margin-bottom: 20px;
}

.main-card .row{
    height: 100%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-card .row .text{
    text-align: left;
    width: 80%;
    padding-top: 5%;
}

.main-card .skill-grid {
    display: flex;
    flex-direction: row;
    flex: 3;
}

.main-card img{
    object-fit: cover;
}

.main-card .textbox{
    text-align: left;
}

.main-card p {
    color: #a1a1a1;
}

.summary-box{
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    align-items: center;
}

.summary-box i {
    margin-right: 10px;
}

.summary-box p + p {
    margin-left: 20px;
}

button{
    margin-right: 12px;
    margin-bottom: 12px;
}

.textbox p {
    color: gray;
}

h5, h4, h3, h2, h1{
    font-weight: 400;
}

.skill-card .iconbox{
    width: 50%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    color: black;
    margin-bottom: 50px;
}

.image{
    width: 250px;
    height: 250px;
}

.green-color{
    color: #90EE90 !important;
    border-color: #90EE90 !important;
}

.left-bar{
    width: 25%;
    height: 100%;
    writing-mode: vertical-rl;
    text-align: center;
}

.left-bar h1{
    font-size: 100px;
}

.main-content{
    width: 80%;
}

.tag{
    border: 1px solid white;
    padding: 10px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.tag-inverse{
    border: 1px solid #90EE90;
    padding: 10px;
    background-color: #90EE90;
    color: black;
}

@media (width < 2100px) {
    .left-bar{
        width: 18%;
    }

    .sub-container{
        width: 82%;
    }

    .main-container-2 .header{
        width: 64%;
        padding: 0 18%;
    }

    .main-card{
        margin-top: -250px;
    }
}

@media (width < 1600px) {
    .left-bar{
        width: 12%;
    }
    
    .left-bar h1{
        font-size: 70px;
    }

    .skill-card .row h1{
        font-size: 40px;
    }

    .main-card{
        width: 50%;
        padding-left: 0;
    }

    .skill-card{
        width: 50%;
    }

    .sub-container{
        width: 88%;
    }

    .main-container-2 .header{
        width: 76%;
        padding: 0 12%;
    }
}
  
@media (width < 1024px) {
    

    .left-bar h1{
        font-size: 40px;
    }

    .skill-card .row h1{
        font-size: 30px;
    }

    .sub-container{
        flex-direction: column;
    }

    .skill-card{
        width: 100%;
    }

    .main-card{
        width: 100%;
        padding-left: 0;
        margin-top: 0;
        box-shadow: none;
        justify-content: left;
        background-color: #ededed;
    }

    .main-card img{
        display: none;
    }

    .main-card .row{
        height: 100%;
        width: 70%;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: left;
    }  

    .main-card .row .text{
        width: 100%;
    }
    
    .sub-container{
        flex-direction: column-reverse;
    }
}
  
@media (width < 650px) {
    .main-card{
        width: 100%;
    }

    .main-card .row{
        width: 90%;
        padding: 0 5%;
    }

    .main-card .iconbox{
        width: 80%;
        padding: 0 10%;
    }
    .left-bar{
        display: none;
        width: 0%;
    }

    .sub-container{
        width: 100%;
    }

    .skill-card .row h1{
        font-size: 30px;
    }

    .main-container-2 .header .text{
        width: 100%;
    }

    .skill-card .row {
        width: 90%;
        padding: 5%;
    }
}
