.exp-container{
    width: 100%;
    background-color: black;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    color:white;
}

.exp-container .container {
    width: 40%;
    height: 100%;
}

.container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.exp-container .row{
    width: 75%;
    display: flex;
}

.exp-container .row:first-child{
    width: 25%;
    align-items: top;
    writing-mode: vertical-rl;
    text-align: center;
}

.exp-container .row:first-child h1{
    font-size: 100px;
    font-weight: 400;
}

.exp-container .row .text{
    width: 55%;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.container ul:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: 2px dashed white;
}

.container ul li {
    margin: 100px 0px 100px 60px;
    position: relative;
}

.container ul li span{
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    height: 100%;
    border: 2px solid white;
}

.container ul li span:before, .container ul li span:after {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    left: -7px;
    background-color: black;
}

.container ul li span:before{
    top: -12px;
}

.container ul li span:after{
    top: 100%;
}

.title{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    padding: 22px;
    border-radius: 8px;
}

.exp-container p{
    margin-top: 2px;
    color: gray;
}

.green-color{
    color: #90EE90 !important;
    border-color: #90EE90 !important;
}

@media (width < 1600px) {
    .exp-container{
        flex-direction: row;
    }

    .exp-container .row{
        width: 100%;
    }
    
    .exp-container .row:first-child{
        width: 12%;
    }
    
    .exp-container .row:first-child h1{
        font-size: 70px;
    }

    .exp-container .container {
        width: 80%;
        height: 100%;
    }
}

@media (width < 1024px) {
    .exp-container .row:first-child h1{
        font-size: 40px;
        line-height: 0;
    }

    .exp-container .row:first-child{
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .exp-container .row{
        flex-direction: column-reverse;
    }

    .exp-container .row .text{
        width: 80%;
        padding: 30px;
        display: flex;
        flex-direction: column;
    }

    .container ul {
        width: 100%;
    }
}

@media (width < 650px) {
    .exp-container .row:first-child{
        display: none;
    }

    .exp-container .row{
        width: 100%;
    }

    .container ul li span{
        display: none;
    }
    
    .container ul li span:before, .container ul li span:after {
        display: none;
    }

    .container ul:before {
        display: none;
    }

    .exp-container .container{
        width: 100%;
    }

    .container ul li {
        margin: 0;
        position: relative;
    }
}