.exp-container{
    width: 100%;
    background-color: black;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    color:white;
}

.exp-container .container {
    width: 65%;
    padding: 3%;
    padding-right: 30%;
    height: 100%;
}

.container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
}

.exp-container .row{
    width: 55%;
}

.exp-container .row:first-child{
    width: 45%;
    text-align: right;
    align-items: top;
}

.exp-container .row:first-child h1{
    font-size: 50px;
}

.container ul:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border: 2px dashed white;
}

.container ul li {
    margin: 120px 60px;
    position: relative;
}

.container ul li span{
    content: '';
    position: absolute;
    top: 0;
    left: -60px;
    height: 100%;
    border: 2px solid white;
}

.container ul li span:before, .container ul li span:after {
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid white;
    border-radius: 50%;
    position: absolute;
    left: -7px;
    background-color: black;
}

.container ul li span:before{
    top: -12px;
}

.container ul li span:after{
    top: 100%;
}

.title{
    display: flex;
    flex-direction: column;
    background-color: #121212;
    padding: 22px;
    border-radius: 20px;
}

.green-color{
    color: #90EE90 !important;
    border-color: #90EE90 !important;
}

@media (width < 1400px) {
    .exp-container{
        flex-direction: column;
    }

    .exp-container .row{
        width: 100%;
    }
    
    .exp-container .row:first-child{
        width: 100%;
        text-align: center;
    }
    
    .exp-container .row:first-child h1{
        font-size: 50px;
    }

    .exp-container .container {
        width: 80%;
        padding: 3%;
        padding-left: 15%;
        padding-right: 5%;
        height: 100%;
    }
}