.page-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.side-bar{
    width: 25%;
    height: 100%;
    writing-mode: vertical-rl;
    text-align: center;
}

.side-bar h1{
    font-size: 100px;
}

.content-container{
    width: 75%;
}

.content-container .content-1 {
    width: 40%;
}

.content-container .content-2 {
    width: 60%;
}

.content-container .content-3 {
    width: 65%;
}