ul {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    background-color: transparent;
    position: fixed;
    top: 0; 
    padding-top: 50px;
}

li {
    color: white;
    display: flex;
    flex-direction: row;
    margin-left: 15px;
}

ul a:link, a:visited,  a:hover, a:active {
    color: white;
    text-decoration: none;
}

@media (width < 1024px) {
    li {
        margin-left: 15px;
    }
}

@media (width < 650px) {

    ul {
        padding-left: 5%;
        padding-right: 5%;
    }

    li {
        margin-left: 0px;
    }
}