.project-container {
    width: 100%;
    background-color: black;
    color:white !important;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.project-container h1 {
    font-size: 80px;
}

.green-color {
    color: #90EE90 !important;
    border-color: #90EE90 !important;
}

.projects-grid {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: row;
    margin-top: 50px;
    margin-bottom: 100px;
}

.projects-card {
    width:31%;
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    margin-right: 2%;
}

.projects-main-card {
    width: 97%;
    display: flex;
    flex-direction: row;
    background-color: #1f1f1f;
    margin-bottom: 2%;
    border-radius: 6px;
    overflow: hidden;
    height: 400px;
}

.projects-main-card .image-panel {
    width: 60%;
}

.projects-main-card .image-panel img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.projects-main-card .info-panel {
    width: 40%;
    padding: 20px 30px;
    box-sizing: border-box;
}

.projects-info {
    width: 100%;
    background-color: #1f1f1f;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-radius: 6px;
    position: relative;
    justify-content: space-between;
}

.project-container p {
    color: gray;
}

.projects-grid .title{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projects-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.projects-tag {
    padding: 8px;
    border: 1px solid white;
    background-color:#1f1f1f;
    color: white;
    font-size: 12px;
}

.git-button {
    padding: 15px;
    background-color:#1f1f1f;
    border: 1px solid #90EE90;
    color: #90EE90;
    border-radius: 10px;
    margin-top: 20px;
    font-weight: bold;
}

.project-container select{
    font-size: 20px;
    padding: 10px;
    margin-top: 100px;
}

@media (width < 1600px) {
    .projects-main-card {
        width: 70%;
        height: auto;
    }
}

@media (width < 1200px) {
    .projects-main-card {
        width: 90%;
    }  
}

@media (width < 1024px){
    .projects-card {
        width:47%;
        margin-bottom: 1%;
        margin-right: 1%;
    }

    .projects-main-card {
        width: 100%;
    }
}

@media (width < 750px) {

    .projects-main-card {
        flex-direction: column;
        margin-bottom: 30px;
    }

    .projects-main-card .image-panel {
        width: 100%;
    }

    .projects-main-card .info-panel {
        width: 100%;
    }

    .project-container h1 {
        font-size: 40px;
    }
    
    .projects-card {
        width:100%;
        margin: 1% 0;
    }

    .project-container select{
        margin-left: 5%;
    }

    .projects-main-card {
        width: 100%;
    }
}